---
import Layout from "../layouts/Layout.astro";
import { playlists } from "../lib/data";
import PlayListItemCard from "../components/PlayListItemCard.astro";
import Greeting from "../components/Greeting.svelte";
import ArrowsButtons from "../components/ArrowsButtons.astro";
import SocialMedia from "../components/SocialMedia.astro";
import MadeForYou from "../components/MadeForYou.astro";
---

<Layout title="Spotify">
	<div
		id="playlist-container"
		class="relative transition-all duration-1000 md:bg-zinc-900 pr-1 md:px-10 min-h-screen"
	>
		<!-- <PageHeader /> -->

		<div class="relative z-30">
			<header
				class="z-20 bg-transparent bg-opacity-95 right-0 left-0 md:py-4"
			>
				<div class="w-full flex justify-between">
					<Greeting />
					<SocialMedia />
				</div>
				<ArrowsButtons />
			</header>
			<div class="playlists-header">
				{
					playlists.map((playlist) => (
						<PlayListItemCard playlist={playlist} />
					))
				}
			</div>
			<div class="flex pt-6 flex-col w-full gap-6">
				<h2 class="text-white md:text-3xl text-xl font-bold">
					Made for you
				</h2>
				<div class="playlists">
					{
						playlists.map((playlist) => (
							<MadeForYou playlist={playlist} />
						))
					}
				</div>
			</div>
		</div>
		<div
			class="absolute inset-0 md:bg-gradient-to-t md:from-zinc-900 md:via-zinc-900/80"
		>
		</div>
	</div>
</Layout>

<style>
	.playlists-header {
		display: grid;
		gap: 0.5rem;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 0rem;
	}

	.playlists {
		display: grid;
		gap: 0.5rem;
		grid-template-columns: 1fr 1fr;
	}
	@media (min-width: 768px) {
		.playlists-header {
			gap: 1rem;
		}
		.playlists {
			gap: 1rem;
			grid-template-columns: 1fr 1fr 1fr;
			padding-bottom: 2rem;
		}
	}
	@media (min-width: 1024px) {
		.playlists-header {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		.playlists {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
	}
</style>
